<div class="header-container">
    <div class="lms-logo">
        <img src="../../../assets/Zeus-LMS-logo.svg" alt="it is zeus lms logo.">
    </div>

    <div class="user-avatar">
        <span *ngIf="!showup"
        [ngStyle]="{'display': !showup ? 'display:none' : ''}"
        class="user-spell"  (click)="action()">U</span>

        <span *ngIf="showup"
        [ngStyle]="{'display': showup ? 'display:none' : ''}"
          class="user-spell2"  (click)="action()"><img src="../../../assets/logout (1).png" alt=""></span>
    </div>
</div>

