<home-header></home-header>

<div class="correct">
    <img src="../../../assets/check_correct.webp" alt="">
</div>

<div class="info-card">
    <span class="title">Congratulations ! You have successfully applied for the walk-in opportunity</span>

    <div class="linee"></div>

    <span class="heading">Date & Time of Walk-In :</span>

    <p class="para">03rd July 2021
        <br>9:00 AM to 11:00 AM</p>

    <div class="linee"></div>

    <span class="heading">Venue of Walk-In :</span>

    <p class="para">Zeus Systems Pvt. Ltd. 
        <br>1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg
        <br> Lower Parel (W) 
        <br>Mumbai - 400 013
        <br> Phone: +91-22-66600000</p>

    <div class="linee"></div>

    <span class="heading">THINGS TO REMEMBER :</span>

    <p class="para">- Please report 30 MINUTES prior to your reporting time.
        <br> - Download your Hall Ticket from below and carry it with you during your Walk-In.</p>
<div class="linee"></div>
    
<span class="btn" style="margin: 14px auto 5px auto;">DOWNLOAD HALL TICKET</span>
</div>