<home-header></home-header>

<div class="correct">
  <img src="../../../assets/check_correct.webp" alt="" />
</div>

<div
  class="info-card"
  *ngIf="currentDrive != undefined && currentSlot[0].slotTiming != undefined"
>
  <span class="title"
    >Congratulations ! You have successfully applied for the
    {{ currentDrive.driveTitle }} opportunity</span
  >

  <div class="linee"></div>

  <span class="heading">Date & Time of Walk-In :</span>

  <p class="para">
    {{ currentDrive.driveStartDate | date : "dd MMMM, yyyy" }} <br />
    {{currentSlot[0].slotTiming}}
  </p>

  <div class="linee"></div>

  <span class="heading">Venue of Walk-In :</span>

  <p class="para">
    Zeus Systems Pvt. Ltd. <br />1402, 14th Floor, Tower B, Peninsula Business
    Park. Ganpatrao Kadam Marg <br />
    Lower Parel (W) <br />Mumbai - 400 013 <br />
    Phone: +91-22-66600000
  </p>

  <div class="linee"></div>

  <span class="heading">THINGS TO REMEMBER :</span>

  <p class="para">
    - Please report 30 MINUTES prior to your reporting time. <br />
    - Download your Hall Ticket from below and carry it with you during your
    Walk-In.
  </p>
  <div class="linee"></div>

  <span class="btn" style="margin: 14px auto 5px auto"
    >DOWNLOAD HALL TICKET</span
  >
</div>
