@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/static/Quicksand-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/static/Quicksand-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/static/Quicksand-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/static/Quicksand-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: QuickSand;
    src: url(../Quicksand\ font\ 1/static/Quicksand-Light.ttf);
    font-weight:lighter;
}
body{
    font-family: QuickSand;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

