<!-- <h1>let's start with walk in portal</h1> -->
<!-- <drives-home-page></drives-home-page> -->
<!-- <header></header> -->

<!-- <user-login></user-login> -->
<!-- <user-review-register></user-review-register> -->
<!-- <drive-page></drive-page> -->
<!-- <applied-drive></applied-drive> -->


<!-- <user-qualifications></user-qualifications> -->
<router-outlet></router-outlet>
<nav>
    <ul>
      <li><a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
      <li><a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li><a routerLink="drives" routerLinkActive="active" ariaCurrentWhenActive="page">all drives</a></li>
      <li><a routerLink="applied" routerLinkActive="active" ariaCurrentWhenActive="page">apply to drive</a></li>
      <li><a routerLink="step1" routerLinkActive="active" ariaCurrentWhenActive="page">personal-info </a></li>
      <li><a routerLink="step2" routerLinkActive="active" ariaCurrentWhenActive="page">Qualification </a></li>
      <li><a routerLink="step3" routerLinkActive="active" ariaCurrentWhenActive="page">Review nd Proceed </a></li>
      

      <li><a routerLink="single-drive" routerLinkActive="active" ariaCurrentWhenActive="page">Single Drive Page</a></li>

    </ul>
  </nav>



