<div class="header-container">
  <div class="lms-logo">
    <img src="../../../assets/Zeus-LMS-logo.svg" alt="it is zeus lms logo." />
  </div>
</div>
<div class="blue-border"></div>

<div class="title-bar">
  <div class="back-arrow">
    <img src="../../../assets/icons/back.svg" alt="back.svg" />
  </div>

  <span class="title">Create an account</span>

  <div class="progress">
    <span class="cancel btn">Cancel</span>

    <span class="create btn">Create</span>
  </div>
</div>

<div class="steps">
  <div class="first">
    <div class="cnt active">1</div>
    <span class="info">Personal Informations</span>
  </div>

  <div class="linee"></div>

  <div class="sec">
    <div class="cnt">2</div>
    <span class="info">Qualifications</span>
  </div>

  <div class="linee"></div>

  <div class="last">
    <div class="cnt">3</div>
    <span class="info">Review and Proceed</span>
  </div>
</div>


<form class="personal-info" [formGroup]="PersonalData" 
*ngIf="PersonalData != undefined && roleList != undefined">
  
    <div class="left">
      <div class="input-group">
        <label for="firstname" style="margin-top: 0" >First Name*</label>
        <input
          type="text"
          placeholder="John"
          value="John"
          name="firstname"
          id="firstname"
          formControlName="Firstname"
        />
      </div>
  
      <div class="input-group">
        <label for="lastname">Last Name*</label>
        <input
          type="text"
          placeholder="Watson"
          value="Watson"
          name="lastname"
          id="lastname"
          formControlName="Lastname"
        />
      </div>
  
      <div class="input-group">
        <label for="email">Email*</label>
        <input
          type="email"
          placeholder="Johnwatson@example.com"
          value="Johnwatson@example.com"
          name="email"
          id="email"
          formControlName="Email"
        />
      </div>

      
      <div class="input-group">
        <label for="email">Password*</label>
        <input
          type="password"
          placeholder="Pass@123"
          value="Pass@123"
          name="email"
          id="email"
          formControlName="Password"
        />
      </div>
  
      <div class="input-group">
        <label for="phone">Phone Number*</label>
        <div>
          <span>+</span
          ><input
            type="text"
            class="country-code"
            placeholder="91"
            value="91"
            name="countrycode"
            id="countrycode"

          /><input
            type="text"
            placeholder="91 9876543210"
            value="9876543210"
            name="phone"
            id="phone"
            formControlName="Phone"
          />
        </div>
      </div>
  
      <div class="upload-resume">
          <label for="resume"><img src="../../../assets/upload-green.svg" alt="" /></label>
          <input type="file" name="resume" id="resume" formControlName="Resume">
        <span>Upload Resume</span>
      </div>
  
      <div class="input-group">
        <label for="portfolio">Enter Portfolio URL (if any)</label>
        <input
          type="portfolio"
          placeholder="www.myportfolio.in"
          value="www.myportfolio.in"
          name="portfolio"
          id="portfolio"
          formControlName="PortfolioUrl"
        />
      </div>
  
      
      <div class="input-group">
        <label for="">Preferred Job Roles*</label>
        <!-- <div>
          <input type="checkbox" name="role1" id="role1" formControlName="RoleName" checked />
          <label for="role1" class="checkbox">Instructional Designer</label>
        </div>
        <div>
          <input type="checkbox" name="role1" id="role2" formControlName="RoleName" />
          <label for="role2" class="checkbox">Software Engineer</label>
        </div>
        <div>
          <input type="checkbox" name="role1" id="role3" formControlName="RoleName" checked />
          <label for="role3" >Software Quality Engineer</label>
        </div> -->
        

       
          <div class="check1" *ngFor="let ele of roleList; let i = index">
            <input
              type="checkbox"
              class="checkdesign"
              (change)="changecheck($event, i + 1)"
              [value]="ele.roleName"
              [id]="ele.roleId"
              [name]="ele.roleId"
              [checked]="PersonalData.value.Roles.includes(i + 1)"
            />
            <label [for]="ele.roleId" class="checkbox">{{ ele.roleName }}</label>

          </div>
        </div>
     
  
      <div class="input-group">
        <label for="referral"
          >If You Are Registering Via A Referral, Please Mention Full Name Of The
          Employee Who Referred You</label
        >
        <input
          type="referral"
          placeholder=""
          value=""
          name="referral"
          id="referral"
          formControlName="ReferredPersonName"
        />
      </div>
  
      <div class="input-group">
        <div>
          <input type="checkbox" name="updates" id="updates" formControlName="GetUpdate" checked />
          <label for="updates" class="checkbox" style="margin-top: 40px;"
            >Send me job related updates via mail</label
          >
        </div>
      </div>
    </div>
  
    <div class="right">
      <div class="upload">
        <label for="resume"><img src="../../../assets/users.png" alt="" /></label>
        <input type="file" name="resume" id="resume" formControlName="ProfilePic">
        <span class="inst">UPLOAD DISPLAY PICTURE</span>
        <span class="cond">Max. image size: 5 MB</span>
      </div>
    </div>

  </form>
  
  <div class="next-section " (click)="onSubmit()">
      <span class="cancel btn">NEXT</span>
  </div>
